on:
  push:
    branches:
      - main
      - 'feat/*'
  pull_request:
jobs:
  forge-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Foundry
        run: |
          curl -L https://foundry.paradigm.xyz | bash
          source ~/.bashrc || true
          foundryup
      - name: Run tests
        run: |
          forge test -vvvv
